<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입 - MIDAS</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/finisher-header.es5.min.js" defer></script>
  <script defer>
    document.addEventListener('DOMContentLoaded', () => {
    console.log('DOMContentLoaded, FinisherHeader=', window.FinisherHeader);
    console.log('container=', document.querySelector('.finisher-header'));
      new FinisherHeader({
        selector:'.finisher-header',
        count: 6,
        size: { min: 1100, max: 1300, pulse: 0 },
        speed: { x: { min: 0.1, max: 0.3 }, y: { min: 0.1, max: 0.3 } },
        colors: {
          background: "#9138e5",
          particles: ["#6bd6ff","#ffcb57","#ff333d"]
        },
        blending: "overlay",
        opacity: { center: 1, edge: 0.1 },
        skew: -2,
        shapes: ["c"]
      });
    });
  </script>
</head>
<body class="join-page">
  <div class="finisher-header">
     <div class="form-container">
    <h2>회원가입</h2>
    <form action="/user" method="POST">
      <input type="text" name="userId" placeholder="아이디" required>
      <input type="password" name="pw" placeholder="비밀번호" required>
      <select name="role">
        <option value="user">사용자</option>
        <option value="guardian">보호자</option>
      </select>
      <button type="submit">가입하기</button>
    </form>
    <p><a href="/login">이미 계정이 있으신가요?</a></p>
  </div>
</div> 
 
  
</body>
</html>
